/* ==========================================================================
   index.html
   ========================================================================== */

/* ==========================================================================
   Flex-container
   ========================================================================== */

.navbar {
	display: flex;
}

.flexbox1 {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}



/* ==========================================================================
   Flex-items
   ========================================================================== */


/* ==========================================================================
   GENERAL HEADER(about.html&&contact.html&&portfolio.html)
   ========================================================================== */

/* ==========================================================================
   Flex-container
   ========================================================================== */

.navbardefault {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;

}
.subnav ul {

}




/* ==========================================================================
   Flex-items
   ========================================================================== */

 .pushleft {
	 margin-left: auto;
 }

/* ==========================================================================
   MOBILE HEADER
   ========================================================================== */

/* ==========================================================================
   Flex-container
   ========================================================================== */





/* ==========================================================================
   Portfolio
   ========================================================================== */
/* ==========================================================================
   Flex-container
   ========================================================================== */

.portfolio {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

/* ==========================================================================
   Flex-items
   ========================================================================== */



/* ==========================================================================
   About
   ========================================================================== */

/* ==========================================================================
   Flex-container
   ========================================================================== */
.about {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
}

/* ==========================================================================
   Flex-items
   ========================================================================== */

.right {
	order: -1;
}

/* ==========================================================================
   Contact
   ========================================================================== */

/* ==========================================================================
   Flex-container
   ========================================================================== */
.contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

/* ==========================================================================
   Flex-items
   ========================================================================== */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width:700px) {



